Package: com.axiom.80poolunlimited
Name: 80poolUnlimited
Version: 1.0.0
Architecture: iphoneos-arm64
Description: No ads, unlimited automation
Maintainer: axiom
Author: axiom
Section: Tweaks
Depends: mobilesubstrate
