Package: com.miniclip.8ballpoolmult
Name: 80poolUnlimited
Version: 1.0.0
Architecture: iphoneos-arm64
Description: No ads, unlimited automation
Maintainer: SL43
Author: SL43
Section: Tweaks
Depends: mobilesubstrate
